form(id="form-note" class="form-horizontal" role="form" method="POST")
    div(class="form-group")
        input(id="title" name="title" class="form-control form-title title" type="text" placeholder="Title")
    div(class="form-group")
        input(id="description" name="description" class="form-control display-1 description" type="text" placeholder="Note...")
        input#modal-save(type="button" value="Save")