mixin Note (note)
    div(class="note col-3 pb-4" id=`${note._id}`)
        div.card
            div.card-body
                h5(class="card-title")=`${note.title}`
                p(class="card-text")=`${note.description}`
                div.pt-3.d-flex.justify-content-end
                    a(class="btn-edit" data-toggle="modal" data-target=".modal-example")
                        i.fas.fa-pen
                    div(class="pl-4 btn-delete")
                        i.fas.fa-times